.header__logo {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    padding: 34px 0 90px 0;
    display: block;
}



@media screen and (max-width:600px) {
    .header__logo {
        width: 200px;
        height: 51.85px;
        padding: 20px 60px 50.15px 60px;
        margin: 0;
    }
}