.lead {
    margin: 0 auto;
    max-width: 984px;
}

.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 793px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 32px 0;

}

.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 0 64px 0;

}

.lead__image {
    width: 100%;
    padding: 0 0 92px 0;
    margin: 0;
    filter: grayscale(1);
}

@media screen and (max-width:960px) {
    .lead {
        max-width: 720px;
    }

    .lead__title {
        max-width: 720px;

    }

    .lead__subtitle {
        margin: 32px auto 36px;
    }
}

@media screen and (max-width:600px) {}