.photos {
    max-width: 1184px;
    margin: 0 auto;
    padding-bottom: 92px;
}

.photos__list {
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    padding: 0;
}

.photos__image {
    width: 100%;
}

@media screen and (max-width:960px) {
    .photos {
        max-width: 720px;
        padding-bottom: 88px;
    }

}

@media screen and (max-width: 600px) {
    .photos {
        max-width: 288px;
        min-height: 390px;
        padding: 0;
    }

    .photos__list {
        grid-template-columns: 1fr;
        margin: 0 0 62px 0;
        gap: 12px;
    }
}