.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    grid-template-areas:
        "title info"
        "image description"
        "button description";
    margin-bottom: 92px;
}

.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
}

.place__info {
    grid-area: info;
    align-self: end;
}

.place__artist {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #aaaaaa;
}

.place__artist-txt {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

.place__image {
    grid-area: image;
    width: 100%;
    margin: 0;
    padding: 0;
}

.place__description {
    grid-area: description;
}

.place__paragraph {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph:last-child {
    margin: 0;
}

.place__button {
    display: block;
    max-width: 248px;
    max-height: 48px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 20px;
    background: #0278fe;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition-duration: 1.5s;
}

.place__button:hover {
    background: #0063D2;
}

@media screen and (max-width:960px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-gap: 46px 28px;
        margin: 72px 16px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        grid-template-areas:
            "title"
            "info"
            "image"
            "description"
            "button";
        margin: 0 0 64px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__info {
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__description {
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__button {
        margin: 0 16px 0 16px;
        max-width: 288px;
    }

    .place__artist {
        margin-left: 16px;
    }

    .place__artist-txt {
        margin: 0 16px;
    }
}